<h4>Notificaciones</h4>
<ul id="notificationsList">
  {{#each friendRequests}}
  <li>
    <img src="{{this.solicitante.profilePicture}}" width="30px" height="30px" class="rounded-circle"
      alt="{{this.solicitante.nombre}}">
    {{this.solicitante.nombre}} te ha enviado una solicitud de amistad.
    <form action="/usuarios/accept-friend-request" method="post">
      <input type="hidden" name="requestId" value="{{this._id}}">
      <button type="submit" class="btn btn-success">Aceptar</button>
    </form>
    <form action="/usuarios/reject-friend-request" method="post">
      <input type="hidden" name="requestId" value="{{this._id}}">
      <button type="submit" class="btn btn-danger">Rechazar</button>
    </form>
  </li>
  {{/each}}
</ul>